
node_modules/
.DS_Store
*.log
.idea/
.metadata/
.vscode

package-lock.json
bun.lock

/trash/*

.Trash

*~*
*#*

config/_development.json
config/_production.json

dbs/

public/scripts/main.*

storage/database/

jsconfig.json
