@import "../../../styles/variables.less";

.contact-form {
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 50px;

    @media (max-width: @header-desktop-width) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media only screen and (max-width: @header-mobile-width) {
        padding: 20px 24px 40px;
    }

    &__wrapper {
        width: 100%;
        max-width: @site-max-width;
        margin: 0 auto;

        >hr {
            border: 1px solid #f0f0f0 !important;
            margin-bottom: 50px;
        }

    }


    .ant-form {
        margin: 0 auto;
        max-width: 50%;

        @media screen and (max-width: 768px) {
            max-width: 80%;
        }

        .ant-col-hide {
            display: none;
        }
    }

    >ul.actions {
        width: 300px;

        @media only screen and (max-width: 800px) {
            width: 100%;
        }
    }

    .actions__item {
        background-color: @primary-color;
        text-align: center;
        border-color: @primary-color;

        h4 {
            color: #ffffff;
        }

        a {
            color: @secondary-color;
        }

        &:hover {
            cursor: pointer;
            background-color: @secondary-color;
            color: #000000;

            h4 {
                color: #000000;
            }

            a {
                color: @primary-color;
            }
        }
    }
}