.sortable-list-item {
  &__wrapper {
    width: 100%;

    &__collapse {
      width: 100%;
    }
  }
}

.editor-mode-toggle {
  .ant-radio-button-wrapper {
    font-weight: normal;
  }

  .ant-radio-button-wrapper-checked {
    font-weight: bold;
  }
}