@import "../../styles/variables.less";

.banner {
  position: relative;

  &__default {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      text-align: center;
      height: 68.75rem;

      @media only screen and (max-width: @header-mobile-width) {
        height: 40rem;

    }

        &__wrapper{
            width: 100%;
            .spacing-top-banner();

            @media only screen and (max-width: @header-mobile-width) {
                margin-top: 0
            }

            &_text {

                display: flex;
                align-items: center;
                flex-direction: column;
                padding-bottom: 1rem;

                
                .title {
                    .text-primary();
                    padding-bottom: 1rem;

                    p {
                        .text-secundary();
                    }
                }

                &--subtitle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    color: @color-highlight;
                }
           }

           &_button {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    padding: 12px 40px;
                    margin-top: 1rem;
                    outline: none;
                    border: none;
                    background: #ff8319;
                    border-radius: 8px;
                    color: white;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                span {
                    padding: 4px;
                    background: rgb(234 88 12);
                    border-radius: 8px;
                }
           }

           
        }

        .background-details {
            position: absolute;
            background-position: center center;
            top: 32px;
            height: 100%;
            width: 100%;
            z-index: -2;
            top: 0;
            background-size: 2000px 100%;
            background-position: calc(150% + 220px) -25px;
            background-repeat: no-repeat;
        }
    }   

    &__sub-banner {
        display: none;
        position: absolute;
        bottom: 32px;
        left: 0;
        background-color: @banner-sub-banner-bg;
        padding: 15px 0;
        width: 100% !important;
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
        letter-spacing: .025em;
        box-shadow: @banner-sub-banner-box-shadow;
        color: @banner-sub-banner-color;
        @media only screen and (max-width: @header-mobile-width) {
            font-size: 1.2em;
            bottom: 0
        }
    }

    &__default-sub-banner {
        padding-top: calc(1.8em + 30px) !important;
        padding-bottom: calc(1.8em + 30px) !important;
        .banner__sub-banner {
            display: block;
        }
        > div > div > div {
            p {
                margin-bottom: 0;
                &:nth-last-child(1) {
                    margin-bottom: 1em;
                }
            }
        }
        @media only screen and (max-width: @header-mobile-width) {
            > div > div > div {
                margin: auto;
            }
        }
    }

    &__secondary {
        position: relative;
        height: calc(40vh - @header-size);
        text-align: left;
        @media only screen and (max-width: @header-mobile-width) {
            height: calc(30vh - @header-size-mobile);
        }
        div:nth-child(1) {
            z-index: 2;
            h2 {
                text-shadow: 0 0 10px @banner-secondary-text-shadow;
            }
        }
        .banner__darken-bg {
            width: 100%;
            height: 100%;
            background-color: @banner-secondary-darken-bg-color;
            position: absolute;
            z-index: 1;
        }
        @media only screen and (max-width: @header-mobile-width) {
            height: calc(33vh - @header-size-mobile) !important;
        }
    }
}
    