<div style="margin: 24px 0;">
    <p style="text-align: center;">
      <img style="max-width: 200px;" src="cid:logo">
    </p>
    <div style="background-color: #F3F3F3; padding: 16px 24px; margin: 24px 0;">
      <p style="font-size: 24px; font-weight: 800;">Olá</p>
      <p style="color: #5a5a5a; font-size: 14px;">
        Você acaba de receber um novo pedido de contacto através do formulário em
        <a style="color: #5a5a5a; text-decoration: none; pointer-events: none;">cluarwebsite.com</a>.
      </p>
      <p><strong>Nome: </strong>_{&data=name}</p>
      <p><strong>E-mail: </strong><a href="mailto:_{data=email}">_{data=email}</a></p>
      <p><strong>Título: </strong>_{&data=subject}</p>
      <p><strong>Mensagem: </strong>_{&data=message}</p>
      <p style="color: #5a5a5a; font-size: 14px;">
        <a href="http://localhost:9000" style="color: #000; font-weight: bold;" target="__blank">Clique aqui</a>,
        insira suas credenciais de acesso e veja quem está interessado nos vossos serviços.
      </p>
    </div>
    <div>
      <p style="text-align: center; color: #797979;"> &copy; 2023 Cluar</p>
    </div>
  </div>
  