<div style="padding: 40px;">
    <div style="padding: 20px;">
        <img src="cid:logo" height="60" />
    </div>
    <div
        style="padding: 40px; background: #ffffff; font-size: 20px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
        <p>Caro(a) _{data=name},</p>
        <p>Para fazer a recuperação da palavra-passe clique neste link: <br /> _{data=recovery_link}</p>
        <p>Obrigado,</p>
        <a style="color: #3a4126" href="https://www.netuno.org">netuno.org</a>
    </div>
</div>
