
@site-background: #ffffff;

@primary-color: #5b5ce1;

@page-shadow-size: 25px;
@page-shadow-color: lighten(@primary-color, 50%);
@page-background: #ffffff;

@header-background: #ffffff;
@header-size: 64px;
@header-size-mobile: 64px;
@header-mobile-width: 1200px;

@mobile-menu-padding-vertical: 25px;
@mobile-menu-padding-horizontal: 25px;
@mobile-menu-background: #ffffff;

@logo-width: 360px;

@footer-background: #f0f2f5;
@footer-size: 380px;

@actions-item-border-color: #ffffff;
@actions-item-border-width: 2px;
@actions-item-border-radius: 2px;
@actions-item-background: rgba(0,0,0,.25);
@actions-item-text-color: #ffffff;
@actions-item-text-color-hover: #000000;
@actions-item-link-color: #ffffff;
@actions-item-link-color-hover: #00A0C6;
@actions-item-background-hover: #ffffff;

@listing-service-list-service-bg: rgba(0,0,0,0.35);

@banner-secondary-darken-bg-color: rgba(0,0,0,0.35);
@banner-secondary-text-shadow: rgba(0,0,0,0.25);

@banner-sub-banner-gradient: linear-gradient(90deg, rgba(9, 164, 200, 0.2) 0%, #09a4c8 100%);
@banner-sub-banner-bg: #ffffff;
@banner-sub-banner-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
@banner-sub-banner-color: rgba(0, 0, 0, 0.8);