
@site-background: #f6f8fb;

@primary-color: #1178FF;
@secondary-color: rgb(148 163 184);

@site-max-width: 1100px;
@header-size: 100px;
@logo-width: 360px;

@primary-link-color: @primary-color;
@primary-link-hover-color: darken(@primary-color, 25%);

@page-shadow-size: 25px;
@page-shadow-color: lighten(@primary-color, 50%);
@page-background: @site-background;

@header-background: @site-background;
@header-menu-color: @primary-color;
@header-menu-color-hover: rgb(82 82 91);
@header-line-height-fix: 0;
@header-line-height: @header-size;
@header-size-mobile: @header-size;
@header-mobile-width: 768px;
@header-latop-width: 991px;
@header-desktop-width: 1200px;

@mobile-menu-padding-vertical: 25px;
@mobile-menu-padding-horizontal: 25px;
@mobile-menu-background: @site-background;

@footer-color: inherit;
@footer-background: darken(@site-background, 10%);

@actions-item-border-color: @site-background;
@actions-item-border-width: 2px;
@actions-item-border-radius: 2px;
@actions-item-background: rgba(0,0,0,.25);
@actions-item-text-color: @site-background;
@actions-item-text-color-hover: #000000;
@actions-item-link-color: @site-background;
@actions-item-link-color-hover: @primary-color;
@actions-item-background-hover: @site-background;

@listing-service-list-service-bg: rgba(0,0,0,0.35);

@banner-secondary-darken-bg-color: rgba(0,0,0,0.35);
@banner-secondary-text-shadow: rgba(0,0,0,0.25);

@banner-sub-banner-bg: @site-background;
@banner-sub-banner-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
@banner-sub-banner-color: rgba(0, 0, 0, 0.8);

@color-highlight: #ff8319;

/* MIXINS */


#spacings-section-py() {
    mobile: 40px;
    desktop: 80px;
}

.spacing-py-medium() {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.spacing-py-large() {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.spacing-my() {

}

.spacing-mx-small() {

}

.spacing-mx-large() {

}

.container {
    width: ~"min(90%, 1120px)" !important;
    margin: 0 auto;
}

.text-primary() {
    font-size: 4rem;
    line-height: 3.75rem;
    font-weight: 700;
    padding-bottom: 1rem;
}


.text-secundary() {
    font-size: 1.5rem;
    line-height: 26px;
}

.link-header() {
    font-size: 1.5rem;
    letter-spacing: 0.025em;
    line-height: 1.5rem;
    font-weight: 600;
    text-decoration: none;

    &:hover {
        color: @primary-color !important;
    }
}



