@import '../../styles/variables.less';

.ant-select-dropdown {
    .ant-select-item-option-selected {
        background-color: #fafafa !important;
        color: @primary-color !important;
    }

    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
        background-color: #f0f0f0 !important;
    }
}