@import "../../../styles/variables.less"; 

.listing__Default {
    max-width: @site-max-width;
    margin: 0 auto;
    width: 100%;

    .ant-col {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    h1 {
        font-size: 2em;
        font-weight: normal;
        letter-spacing: .01em;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1em;
    }

    >.ant-col>div {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}