@import "../../../styles/variables.less";

.banner {
  position: relative;

  &__wrapper {
    width: 100%;
    max-width: @site-max-width;
    margin: 0 auto;
    z-index: 2;

    @media (max-width: @header-desktop-width) {
      padding: 0 60px;
    }

    @media only screen and (max-width: @header-mobile-width) {
      padding: calc(@header-size-mobile + 48px) 24px 48px;
    }

    > h1 {
      margin-bottom: 0;
      font-weight: 200;
      font-size: 3.5em;
      color: #fff;
      letter-spacing: .01em;

      @media only screen and (max-width: @header-mobile-width) {
        font-size: 2em;
        line-height: 1.2em;
        margin-bottom: 10px;
      }
    }

    > div {
      margin-bottom: 32px;

      p {
        font-size: 1.4em;
        color: #fff;

        @media only screen and (max-width: @header-mobile-width) {
          font-size: 1.5em;
          line-height: 1.5em;
        }
      }
    }

    .banner__actions {
      .actions {
        position: relative;
        display: inline-block;
        padding-left: 0;
        text-align: center;

        .actions__item {
          h4 {
            font-size: 1em;
            margin-bottom: 0.1em;
          }
          p {
            font-size: 1.1em;
            margin-bottom: 0.1em;
          }
          a {
            font-size: 1em;
          }
          &:hover h4 {
            color: #000;
          }
        }
      }
    }
  }

  &__sub-banner {
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100% !important;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: .025em;
    background-color: @banner-sub-banner-bg;
    box-shadow: @banner-sub-banner-box-shadow;
    color: @banner-sub-banner-color;
    z-index: 2;

    @media only screen and (max-width: @header-mobile-width) {
      font-size: 1.2em;
      bottom: 0;
    }
  }

  &__default-sub-banner {
    position: relative;
    min-height: 600px;
    height: calc(100vh - @header-size);
    padding-top: @header-size !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .banner__sub-banner {
      display: block;
    }

    .banner__darken-bg {
      display: none;
    }

    @media only screen and (max-width: @header-mobile-width) {
      height: auto !important;
      min-height: calc(100vh - @header-size-mobile);
      padding-top: @header-size-mobile !important;
      padding-bottom: 100px;
    }
  }

  &__darken-bg {
    width: 100%;
    height: 100%;
    background-color: @banner-secondary-darken-bg-color;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
}